# Gmail Configuration (get your App Password - see below)
GMAIL_USER=infosoftstacks@gmail.com
GMAIL_APP_PASSWORD=rjhrzqcnyltwebvo

# Admin Key (change this!)
ADMIN_KEY=saquib2025

# Port
PORT=3000

# HOW TO GET GMAIL APP PASSWORD:
# 1. Go to: https://myaccount.google.com/security
# 2. Enable "2-Step Verification" (if not already enabled)
# 3. Go to "App passwords" (https://myaccount.google.com/apppasswords)
# 4. Select "Mail" and "Windows Computer"
# 5. Google will generate a 16-character password - copy it!
# 6. Replace GMAIL_APP_PASSWORD with that password
# 7. Replace GMAIL_USER with your Gmail address
